/***************************************************
Navigation
****************************************************/
.nav-desktop{
	background-color: #222;
	height: 80px;
	padding: 0px;
}
.site-logo{
	color: white;
	line-height: 73px;
}

/***************************************************
General
****************************************************/
.wrap{
	width: 90%;
	max-width: 1100px;
	margin: 0px auto;
}
.nav-desktop .menu-desktop{
	line-height: 80px;
	background-color: transparent;
}
.menu li a {
	display: inline-block;
	line-height: 80px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
}
.menu li a:hover{
	background-color: rgba(255,255,255,0.1);
}

/***************************************************
MEDIA QUERIES
****************************************************/
@media(max-width: 640px){
	.menu-desktop{
		display: none;
	}

}




/***************************************************
Hero
****************************************************/
.hero{
	background-image: url('../img/zig-zag.png');
	/*background-color:#999;*/
	color: white;
	padding: 50px 30px 30px 40px; 
}
.button.success{
	background-color: purple;
}
.hero p{
	max-width: 70%;
}
/***************************************************
Main Section
****************************************************/
.main{
	padding: 40px 0px;

}


/***************************************************
Footer
****************************************************/
footer{
	padding: 40px 0px;
	background-color: #222;
}
footer hr{
	border-color: rgba(255,255,255,0.1); 
	margin: 10px 0px;
}
footer a{
	display: block;
	color: rgba(255,255,255,0.6);
	font-size: 0.8em;
}
footer a span{
	font-weight: bold;
	color: rgba(255,255,255,0.3);
}
footer a:hover{
	color: rgba(255,255,255,0.8);
}
footer h4{
	color: rgba(255,255,255,0.6);
	font-size: 1.3em;

}
