/***************************************************
Navigation
****************************************************/

/***************************************************
General
****************************************************/
.wrap{
	width: 90%;
	max-width: 1100px;
	margin: 0px auto;
}






/***************************************************
Hero
****************************************************/
.hero{
	background-color:#999;
	padding: 50px 30px 30px 40px; 
}
.button.success{
	background-color: purple;
}

/***************************************************
Main Section
****************************************************/



/***************************************************
Footer
****************************************************/

