/***************************************************
Navigation
****************************************************/
.nav-desktop{
	background-color: #222;
	height: 80px;
	padding: 0px;
}
.site-logo{
	color: white;
}

/***************************************************
General
****************************************************/
.wrap{
	width: 90%;
	max-width: 1100px;
	margin: 0px auto;
}
.nav-desktop .menu-desktop{
	line-height: 80px;
}
.menu li a {
	display: inline-block;
}





/***************************************************
Hero
****************************************************/
.hero{
	background-color:#999;
	padding: 50px 30px 30px 40px; 
}
.button.success{
	background-color: purple;
}

/***************************************************
Main Section
****************************************************/
.main{
	padding: 40px 0px;

}


/***************************************************
Footer
****************************************************/
footer{
	padding: 40px 0px;
	background-color: #222;
}
footer a{
	display: block;
}
